* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 8rem;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

.header h1 {
    font-family: sans-serif;
    color: red;
    display: inline-block;
    line-height: 1em;
    font-weight: bold;
    margin-left: 25%;
}


/* navbar css */

.navbar {
    letter-spacing: 4px;
    background-color: white;
    color: orange;
    min-height: 80px;
}

.navbar-header button {
    margin: 0;
    padding: 24px;
}

.navbar li {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .navbar-collapse {
        margin-top: 25px;
    }
}

.navbar-header {
    display: flex;
    margin-left: -12rem;
}

.navbar-header .logo {
    margin-left: -3rem;
}

.navbar-header button {
    padding-left: 0px;
    margin-left: 0px;
}

.navbar li a,
.navbar .navbar-brand {
    color: black;
    font-size: 14px;
    line-height: 4;
}
#btnbuy{
    border-color: rgb(255, 2, 2);
    color: #ffffff;
    box-shadow: 0 0 40px 40px rgb(254, 65, 65) inset, 0 0 0 rgb(248, 102, 102);
    transition: all 150ms ease-in-out;
    padding: 14px 28px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 30px;
}
#btnbuy:hover {
      box-shadow: 0 0 10px 0 rgb(235, 39, 55) inset, 0 0 10px 4px rgb(243, 33, 61);
      color:#f41a1a
    }
.navbar-nav li a:hover {
    color: #000000 !important;
}

.navbar .navbar-brand {
    margin-top: -0.45rem;
}


/* The active link */

.navbar-nav li.active a {
    color: #000000 !important;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}


/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: rgb(83, 81, 81) !important;
    color: white !important;
}

.readmore {
    color: rgb(93, 93, 241);
}

.navbar-toggle .icon-bar {
    color: blue;
    border-color: transparent;
}

.nav li a {
    margin: 0px 10px;
}


@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav li a {
        margin: 0px;
    }
    .navbar-nav>li>a {
        padding: 15px 10px;
    }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}


/**/

.team {
    width: 80%;
    margin: 10%;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    border-radius: 2rem;
}

.team .btn {
    width: 100%;
    color: #1a1a1a;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.3rem 2px #fc2b2b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 8rem;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    width: 80%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 25px;
    margin-left: 5%;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* .column1 {
    float: left;
    width: 20%;
    margin-bottom: 25px;
    padding-left: 30%;
    margin-right: -5%;
} */


/* 
@media screen and (max-width: 650px) {
    .column1 {
        width: 100%;
        display: block;
    }
} */


/* .column2 {
    float: left;
    width: 20%;
    margin-bottom: 15px;
    padding-left: 37%;
    margin-left: 0;
} */


/* @media screen and (max-width: 650px) {
    .column2 {
        width: 100%;
        display: block;
    }
} */

.newData {
    text-align: center;
    margin-bottom: 6px;
}

.new {
    padding-bottom: 5%;
}

.sp.newData {
    margin-bottom: 2%;
}

.image-1 {
    height: 80%;
    width: 70%;
    margin-bottom: 7%;
}

.image-2 {
    height: 80%;
    width: 70%;
    margin-bottom: 7%;
}

.card {
    width: 25rem;
    height: 35rem;
    margin: 3rem;
    background: white;
    box-shadow: 0 0px 20px black;
}

.card.single {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    width: 30%;
    margin: 5% auto auto;
}

.card.left {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    margin: 10px 20% 0 30%;
}

.card.right {
    margin: 10px 40% 0 10%;
}

.row .title1 {
    color: red;
    font-weight: bold;
    font-size: 20 px;
}

.nam {
    padding-top: 3em;
}

@media screen and (max-width: 1200px) {
    /* multiple photos */
    .newData {
        line-height: 0.7;
        margin-bottom: 4rem;
    }
    .two.card.left {
        margin: 0 auto 10px;
    }
    .two.card.right {
        margin: 0 auto;
    }
    .two.card {
        height: 25rem;
        width: 20rem;
    }
    .con {
        line-height: 0.5;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .two.image-1,
    .two.image-2 {
        margin-bottom: 0;
        height: 80%;
    }
    .one.modal-content {
        height: 60rem;
    }
    .two.modal-content {
        height: 75rem;
    }
}

@media screen and (max-width: 770px) {
    /*one photo  */
    .one.image-1 {
        height: 90%;
        width: 70%;
        margin-bottom: 10px;
    }
    .card.single {
        width: 65%;
        height: 70%;
        margin: 5% auto auto;
    }
    .one.column {
        height: 70%;
        width: 70%;
    }
    .one.modal-content {
        height: 55rem;
    }
    .two.modal-content {
        height: 70rem;
    }
}

.con {
    color: red;
    text-align: center;
    font-size: 13px;
    margin-top: -3px;
}

.con::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    margin-top: -10px;
    color: black;
    margin-bottom: 5px;
}

h4 {
    font-weight: 700;
}

.modal .modal-content span {
    float: right;
}


/* footer start */

.footer-container {
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 0;
    color: #fff;
    background-color: #1a1a1a;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200%;
    padding: 45px;
    font-size: medium;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    position: relative;
    display: flex;
    width: 200%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.footer2 {
    margin-top: 5px;
    padding: 10px 50px;
    background: rgb(24, 24, 24);
    color: aliceblue;
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.social {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    size: 2em;
}

a {
    color: #ffffff;
}

a:hover {
    color: #FC2B2B;
    text-decoration: none;
}

a>p:hover {
    color: #FC2B2B;
    text-decoration: none;
}

a:hover {
    color: #FC2B2B;
    text-decoration: none;
}

hr {
    height: 1px;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #fc2b2b;
    border-top: 1px #fc2b2b;
}


/* footer end */

body::-webkit-scrollbar {
    width: 1.2rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #FC2B2B;
    border-radius: 20px;
}

.modal-content::-webkit-scrollbar {
    width: 0.3rem;
}

.modal-content::-webkit-scrollbar-track {
    background: #1e1e24;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #FC2B2B;
    border-radius: 20px;
}